body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(238, 238, 238);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-header{
  display: flex;
  background: #082032;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom: solid rgb(170, 168, 168) 1px;
}

.todo-item{
  display: flex;
  background: #2C394B;
  color: white;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  border-bottom: solid rgb(170, 168, 168) 1px;
}

.todo-item:last-of-type{
  border: none;
}

.todo-item > p{
  padding: 1em;
  margin: 0;
}

.todo-item > p:hover{
  color:rgb(170, 168, 168);
}

.todo-item > input[type='checkbox']{
  width: 2em;
  height: 2em;
}

.todo-item > button{
  width: 2em;
  height: 2em;
  background: red;
  border:none;
  font-size: 1rem;
  padding: 0;
  font-weight: bold;
}

.todo-item > button:hover{
  background: darkred;
}

.todo-wrap{
  display: grid;
  align-items: center;
  margin: auto;
  margin-top: 2em;
  width: 50vw;
  padding: 1em;
  background: #334756;
  border-radius: 0.5em;
  box-shadow: 
    0em 1em 0 -0.4em grey,
    0em 2em 0 -0.8em lightgrey;
}

.completed{
  text-decoration: line-through;
  color: gray;
  font-style: italic;
}

.adding-task{
  display: flex;
  width: 100%;
}

.adding-task > input{
  width: 80%;
  border: none;
  min-height: auto;
  font-size: 4rem;
}

.adding-task > button{
  width: 20%;
  border: none;
  font-size: 3rem;
  color: black;
  background: #FF4C29;
}

.adding-task > button:hover, button:focus {
  background: #c52404;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: 1.5rem;
  background: rgb(190, 190, 190);
  opacity: 0.5;
}